# Environment variables
.env

# Virtual environments
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary audio files
*.ogg

# Operating System files
.DS_Store
Thumbs.db
